@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');

::root {
/* Palette*/
--primary-solid: #ff3333;
--primary-900: rgb(255, 51, 51, 0.9);
--primary-500: rgb(255, 51, 51, 0.5);
--primary-300: rgb(255, 51, 51, 0.3);

--secondary-solid: #1DB4b5;
--secondary-900: rgb(29, 180, 181, 0.9);
--secondary-500: rgb(29, 180, 181, 0.5);
--secondary-300: rgb(29, 180, 181, 0.3);

}

*,
*::before
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Inter', sans-serif;
    font-size: 62.5%;
    color: #111111
}

a {
text-decoration: none;
font-size: 2em;
font-family: inherit;
color: inherit;
}

header,
footer {
    font-family: 'Raleway', sans-serif;
    color: white;
}

ul, ol {
    list-style-type: none;
}
g
p {
    font-size: 1.8em;
}

.container {
    max-width: 1200px;
    margin: 0 auto;

}